$primary: skyblue;
$secondary: indigo;
$error: rgb(241, 79, 79);
$info: rgb(195, 205, 50);

$colors: ("primary": $primary,
    "secondary": $secondary,
    "error": $error,
    "info": $info,
);

$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75 !default;
$font-size-lg: $base-font-size * 1.5 !default;
$font-size-xl: $base-font-size * 2 !default;
$font-size-xxl: $base-font-size * 3 !default;

$base-box-shadow: 1px 3px 5px rgba(black, 0.2);

$base-border-radius: 20px;