.about {
    min-height: 100vh;

    .about-title {
        font-size: $font-size-xxl;
        margin: $font-size-xl auto;
    }

    .about-content {
        flex-wrap: wrap;

        .about-desc {
            font-size: $font-size-lg;
            max-width: 500px;
            display: flex;
            align-items: center;
            padding: 2rem;
        }

        .about-img {
            flex-basis: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            &>* {
                width: 400px;
                height: 400px;

                @include breakpoint(1125px) {
                    width: 580px;
                    height: 580px;
                }

                margin: 0;
                padding: 0;
            }
        }
    }
}