.about {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-title {
        font-size: $font-size-xxl;
        margin: $font-size-xl auto
    }

    .about-content {
        display: flex;
        flex-wrap: wrap;

        .about-desc {
            font-size: $font-size-lg;
            max-width: 500px;
            display: flex;
            align-items: center;
            margin: 2rem;
        }

        .about-img {
            flex-basis: 1;

            &>* {
                margin: 0;
                padding: 0;
            }
        }
    }
}