.gallery {
    height: 100vh;
    // max-width: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    .gallery-title {
        margin: 4rem 0;
        display: flex;
        justify-content: center;
    }

    .gallery-content {
        justify-content: space-evenly;
        align-items: stretch;

        .gallery-slider {
            position: relative;

            @include sm {
                width: 460px;
            }

            @include md {
                width: 700px;
                height: 500px;
            }

            .gallery-image {
                width: 100%;
                height: 100%;
            }

            .gallery-buttons {
                opacity: 0;
                position: absolute;
                top: 0px;
                left: 0px;
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: space-between;
                transition: 0.15s;

                &>* {
                    background: none;
                    border: none;
                    font-size: $font-size-xxl;
                    color: white;
                    opacity: 0.7;
                    height: 100%;
                    width: 25%;
                    cursor: pointer;
                }
            }

            &:hover {
                .gallery-buttons {
                    opacity: 1;
                }
            }
        }

        .gallery-preview {
            display: flex;
            justify-content: center;
            margin-top: 10px;

            @include lg {
                flex-direction: column;
                justify-content: space-around;
                margin-top: 0;
            }

            .gallery-minature {
                display: flex;
                align-items: center;
                cursor: pointer;
                margin: 0 10px;

                @include sm {
                    width: 130px;
                    height: 97.5px;
                }

                @include md {
                    width: 200px;
                    height: 150px;
                }

                &>* {
                    width: 100%;
                    height: 100%;
                }
            }

            .gallery-focus {
                box-sizing: border-box;
                outline: 2px $info solid;
                box-shadow: $base-box-shadow;
            }
        }
    }

}