.projects {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .projects-title {
        font-size: $font-size-xxl;
        margin-bottom: 5rem;
    }

    .projects-content {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        .projects-project {
            margin: 2rem 0;
        }
    }
}