.nav {
    background: rgba($primary, 0.3);
    box-shadow: $base-box-shadow;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(915px) {
        justify-content: space-between;
    }

    &>* {
        padding: 0 $font-size-xxl
    }

    .nav-title {
        font-size: $font-size-lg;
        margin: 0;

        @include breakpoint(915px) {
            font-size: $font-size-xxl;
        }
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        display: none;

        @include breakpoint(915px) {
            display: block;
        }

        .nav-link {
            text-decoration: none;
            color: $secondary;
            padding: 0 $base-font-size;
            font-weight: 600;

            &:hover {
                color: $info;
            }
        }
    }
}